<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="hdr"><%= title %></h1>
    <p class="body">Welcome to <%= title %></p>
    <a class="content-one" href="/skills"> List of Skills</a>
  </body>
</html>
