<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Skills</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <body>
      <h1 class="hdr">Skills</h1>
      <ul>
        
        <% skills.forEach(function(s) { %> <% console.log(s.skill) %>
        <!-- this allows us to delete the UIs, which we will do by ID -->
        <li>
        <form
          action="/skills/<%= s.id %>?_method=DELETE"
          method="POST"
        >

        <a class="link-one" href="/skills/<%= s.id %>"><%= s.skill %></a>
        <button class="link-two" type="SUBMIT">Delete Skill</button>
        </br>
        </li>
        <% }); %>
      </ul>
      <a class="content-two" href="/skills/new">Add Skill</a>
      <a class="content-one" href="/">Home Page</a>
    </body>
  </body>
</html>
